h1 {
    text-align: center;
}

p {
    margin-left: 2rem;
}

.userList {
    /* background-color: lightpink; */
    border-style: solid;
    border-color: royalblue;
    margin: 0.5rem 0 ;
}

.details {
    margin-left: 2.5rem;
}